includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - bin
    tmpDir: build/phpstan

    # Optionally include the baseline file
    # baseline: phpstan-baseline.neon
